<launch>
  <node name="qr_code_node" pkg="image_recognition" type="qr_code_node" />
  <node name="color_detection_node" pkg="image_recognition" type="color_detection_node" />
  <node name="nav_goal" pkg="nav_goal" type="nav_goal" />
  <node name="robot_master_node" pkg="robot_master" type="robot_master_node" />
</launch>
